/* You can add global styles to this file, and also import other style files */

@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  font-family: Arial;
  margin: 0;
  background: url('../src//assets/img/bg_angular.jpg') no-repeat center fixed; 
  background-size: cover;
}
